---
import Navegacio from "../components/Navegacio.astro";
import Titol from "../components/Titol.astro";
import Peu from "../components/Peu.astro";
import Layout from "../layouts/Layout.astro";
import cvData from "../assets/data/cv.json";
import "../styles/global.css";
---

<Layout>
  <Navegacio />
  <main>
    <Titol title="Projectes professionals" />
    <hr
      class="w-3/4 mt-6 sm:w-lg md:w-xl mx-auto border-gray-400 opacity-50 mb-8"
    />
    <ul class="flex flex-col w-3/4 sm:w-lg md:w-xl mx-auto gap-16">
      {
        cvData.projects.map((pro) => (
          <li>
            <a class="flex flex-col gap-2" href={`projectes/${pro.slug}`}>
              <span class="text-2xl font-semibold mt-4 tracking-tight">
                {pro.name}
              </span>
              <span class="text-slate-500 text-md font-inconsolata tracking-tight">
                {pro.description}
              </span>
            </a>
          </li>
        ))
      }
    </ul>
    <hr
      class="w-3/4 mt-16 sm:w-lg md:w-xl mx-auto border-gray-400 opacity-50 mb-8"
    />
  </main>
  <Peu />
</Layout>
