---
import "../styles/global.css";
interface Props {
  link: string;
  textLink: string;
}

const { link = "", textLink = "" } = Astro.props;
---

<div class="mt-8 mb-14 w-3/4 sm:w-lg md:w-xl mx-auto">
  <a
    class="inline-flex bg-black px-[30px] py-[15px] leading-none rounded-full font-inconsolata font-semibold text-white text-sm group hover:bg-[#1E293B]"
    href={link}
  >
    {textLink}
    <span class="block group-hover:hidden w-[5ch]">&nbsp;--></span>
    <span class="hidden group-hover:block w-[5ch]">&nbsp;---></span>
  </a>
</div>
