---
import portfoliLogo from "../assets/logo.png";
import "../styles/global.css";
---

<nav
  class="flex items-center justify-center gap-x-8 sm:gap-x-72 md:gap-x-88 mt-16"
>
  <a href="/">
    <img class="w-[40px]" src={portfoliLogo.src} alt="Logo del portfoli" />
  </a>
  <ul class="flex gap-x-8">
    <li>
      <a class="font-inconsolata font-semibold" href="/informacio">Informació</a
      >
    </li>
    <li>
      <a class="font-inconsolata font-semibold" href="/contacte">Contacte</a>
    </li>
  </ul>
</nav>
